/* public/css/custom-login.css */

/* Kustomisasi tampilan halaman login */
.fi-simple-main {
    background-color: white;
}

/* Kustomisasi kotak login */
.fi-simple-card {
    box-shadow: none;
    background-color: white;
    border: none;
}

/* Styling khusus untuk input */
.custom-email-input,
.custom-password-input {
    border-radius: 0.5rem;
    background-color: #F5F5F5;
    padding: 0.75rem;
    height: 48px;
    margin-bottom: 0.75rem;
}

.custom-password-input {
    margin-bottom: 1.5rem;
}

/* Tombol masuk */
.fi-btn-login {
    background-color: #235827 !important; /* Warna hijau Frekantin */
    border-radius: 0.5rem;
    text-transform: none;
    font-weight: 500;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Kustomisasi logo */
.h-20 {
    height: 4rem;
    margin-bottom: 1.5rem;
}

/* Ikon toggle password */
.fi-input-wrapper button {
    color: #235827;
}

/* Menghilangkan elemen lain yang tidak diperlukan */
.fi-simple-header {
    display: none;
}

